#
# Define options needed for engineering build
# The options need to be turned off for production release
#
CONFIG_LTT_LITE=y
CONFIG_DEBUG_SLAB=y
CONFIG_DEBUG_SLAB_KMALLOC_SINGLE_PAGE=y
CONFIG_DEBUG_SPINLOCK_SLEEP=y
CONFIG_MMC_TEST_INSERT_REMOVE=y
CONFIG_CORE_DUMP_PERMISSION=y
CONFIG_OMAP_WATCHDOG_TEST=y
CONFIG_NON_NESTED_FIQ=y
CONFIG_OMAP_WATCHDOG_FIQ=y
CONFIG_IPC_USBHOST_DBG=y
CONFIG_APANIC_MMC_MEMDUMP=y
CONFIG_OMAP_SECURE_FIQ_HACK=y
CONFIG_USB_TESTING_POWER=y
CONFIG_DUMP_TASKS_ON_NOPAGE=y
CONFIG_DEBUG_FS=y
CONFIG_PM_DEBUG=y
CONFIG_DEBUG_NETMUX=y
CONFIG_USB_BYPASS_CPCAP=y
CONFIG_PM_DBG_DRV=y
CONFIG_PERF_EVENTS=y
CONFIG_HW_PERF_EVENTS=y
CONFIG_PROFILING=y
CONFIG_OPROFILE=y
CONFIG_TIMER_STATS=y
CONFIG_FB_OMAP2_DEBUG_SUPPORT=y
CONFIG_FB_OMAP2_REG_IOCTL=y
CONFIG_KPROBES=y
CONFIG_RELAY=y
CONFIG_ANDROID_RAM_CONSOLE=y
CONFIG_MOT_ENG_PHONE_RESET=y
